$bolt-yellow: #fed954;

// Dark-blue
$dark-blue-dark: #050c3e;
$dark-blue-med: #021281;
$dark-blue-light: #5ca0f5;

// White
$white-dark: #181818;
$white-med: #5e5e74;
$white-light: white;
$white-accent: #ff1a40;
