@mixin largeText() {
  font-size: 50px;
  font-weight: bold;
}

@mixin flexCenter($justify: center) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $justify;
}

.gms-theme {
  .gms-modal-card {
    h1 {
      font-size: 38px;
      font-weight: bold;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
    }

    h1,
    h2,
    h3,
    p {
      color: black;
    }

    .gms-amount-input,
    .gms-note-input {
      border-color: black;
    }
  }

  &--is-dark .gms-modal-card {
    h1,
    h2,
    h3,
    p {
      color: white;
    }

    .gms-amount-input,
    .gms-note-input {
      border-color: transparent;
    }
  }

  &--dark-blue .gms-modal-card {
    background-color: $dark-blue-dark;
  }

  &--white .gms-modal-card {
    background-color: white;
  }
}

.gms-modal-window {
  position: fixed;
  height: 100vh;
  width: 100vw;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  top: 0;
  left: 0;
  pointer-events: none;

  .gms-button {
    margin: 10px 0;
    min-width: 200px;
    max-width: 100%;
  }

  .gms-modal-screen {
    @include flexCenter();
    width: 100%;
    height: 100%;
    transition: background-color 0.4s ease;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
  }

  .gms-modal-card {
    width: 90%;
    height: 80%;
    max-width: 400px;
    min-height: 500px;
    border-radius: 20px;
    padding: 20px;
    cursor: auto;
    transition: opacity 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    opacity: 0;
  }

  .gms-modal-content {
    @include flexCenter(space-between);
    height: 100%;
  }

  .gms-modal-body {
    @include flexCenter();
    height: 100%;
    width: 100%;
  }

  .gms-modal-actions {
    @include flexCenter(flex-end);
  }

  .gms-modal-header {
    height: 150px;
    text-align: center;
  }

  .gms-amount-input {
    @include largeText();
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    max-width: 100%;
    border: none;
    text-align: center;
    border: 6px solid transparent;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .gms-note-input {
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    max-width: 100%;
    border: none;
    margin-top: 10px;
    border: 6px solid transparent;
  }

  .gms-modal-button {
    margin: 10px 0;
    min-width: 200px;
    max-width: 100%;
  }

  .gms-modal-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  h1.gms-large-text {
    @include largeText();
  }

  .gms-qr__expired {
    width: 180px;
    height: 180px;
    background-color: black;
    border-radius: 5px;
    @include flexCenter();
  }

  .gms-qr {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
  }
}

// Change display when modal is showing
.gms--show {
  .gms-modal-screen {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .gms-modal-card {
    opacity: 1;
  }

  .gms-modal-window {
    pointer-events: all;
  }
}
