.gms-button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease, scale 1.5s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    transform: scale(1.01);
  }

  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    transform: none;
  }

  &__small {
    padding: 9px 12px;
    border-radius: 14px;
  }
}

.gms-button--bolt {
  svg {
    margin-left: 15px;
  }

  &.gms-button--no-text svg {
    margin-left: -4px;
    margin-right: -4px;
  }
}

@mixin buttonColors($theme, $tone: "dark") {
  background-color: $theme;
  @if $tone == "light" {
    color: black;
  } @else {
    color: white;
  }

  &:hover {
    background-color: lighten($theme, 10);
  }

  &:disabled,
  &:disabled:hover {
    background-color: lighten(desaturate($theme, 80), 20);
  }
}

/* Dark Blue Theme */
.gms-button--dark-blue,
.gms-theme--dark-blue .gms-button {
  @include buttonColors($dark-blue-dark, "dark");

  &--dark {
    @include buttonColors($dark-blue-dark, "dark");
  }

  &--med {
    @include buttonColors($dark-blue-med, "dark");
  }

  &--light {
    @include buttonColors($dark-blue-light, "light");
  }
}

/* White Theme */
.gms-button--white,
.gms-theme--white .gms-button {
  @include buttonColors($white-dark, "dark");

  &--dark {
    @include buttonColors($white-dark, "dark");
  }

  &--med {
    @include buttonColors($white-med, "dark");
  }

  &--light {
    @include buttonColors($white-light, "light");
  }
}

.gms-button__svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
